@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0F0F0F;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
